<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>待办清单</title>

	<style type="text/css">
		.complete{
			text-decoration: line-through;
		}
		.cursor{
			cursor: pointer;
		}
		.form-control{
			width: 200px;
		    height: 30px;
		    line-height: 30px;
		    border-radius: 5px;
		}
		.form-btn{
	        height: 30px;
			background-color: #3889d6;
		    color: #fff;
		    border-radius: 5px;
		    width: 80px;
		    display: inline-block;
		    line-height: 30px;
		    text-align: center;
		}
	</style>
</head>
<body>
<div id="app">
	<task-anne :list="tasks"></task-anne>
</div>
<template id="task-tem">
	<div>
		<form class="form-group">
			<input type="text" placeholder="请输入要添加的任务名称" class="form-control" v-model="notes">
			<a class="form-btn" @click="creatTask">添加任务</a>
		</form>
		<h1>My tasks
			<span v-show="remaining">({{remaining}})</span> 
		</h1>
		<ul>
			<li v-for="(task,index) in list" >
				<span :class="[task.status?'complete':'','cursor']" @click="toggleclass(task)">{{task.name}}</span>
				&nbsp;<strong @click="removetask(index,task._id)">删除</strong>
			</li>
		</ul>
	</div>
</template>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>
<script type="text/javascript">
	Vue.component('task-anne',{
		template: '#task-tem',
		data:function(){
			return{
				list: [],
				notes:''
			}
		},
		created: function(){
			var vm = this;
		  this.$http.get('http://localhost:8080/api/bears').then(response => {
		  	if(response.status == 200){
		  		vm.list = JSON.parse(response.bodyText);
		  	}
		  }, response => {
		  	console.log('error')
		  });
		},
		methods:{
			toggleclass:function(task){
				task.status = !task.status;
				this.$http.put('http://localhost:8080/api/bears/'+task._id,{status:task.status}).then(response =>{
					console.log(response)
				})
			},
			removetask:function(index,id){
				var vm = this;
				this.$http.delete('http://localhost:8080/api/bears/'+id).then(response =>{
					alert('删除任务成功！')
					vm.list.splice(index,1);
				})
			},
			creatTask:function(){
				var vm = this;
				this.$http.post('http://localhost:8080/api/bears', {name: vm.notes,status:false}).then(response => {
						if(response.status == 200){
							this.$http.get('http://localhost:8080/api/bears').then(response => {
						  	if(response.status == 200){
						  		vm.list = JSON.parse(response.bodyText);
						  	}
						  }, response => {
						  	console.log('error')
						  });
						}
						}, response => {
							console.log('error')
						});
			}
		},
		computed:{
			remaining:function(){
				return this.list.filter(function(task){
					return !task.status;
				}).length;
			}
		}
	})
	new Vue({
		el: '#app',
		data: {
			tasks:[],
			cursor:'cursor'
		}
	})
</script>
</body>
</html>